/*------ GLOBAL -------*/
* {
  z-index: 1;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

.clearfix::after{
  content:"";
  clear: both;
  display: table;
}
html, body{
  height: 100%;
  font-weight: 100;
}
.container{
  min-height: 100%;
  max-width: 1440px;
  width: 95vw;
  margin: auto;
}
#main{
  overflow: auto;

}
#footer{
  position: relative;
  height: 65px;
  clear: both;
}
h1{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
}
h2{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 48px;
}
h3{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: lighter;
line-height: normal;
font-size: 36px;
}
h4{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
}
h5{
  font-family:'Muli', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
  color: #2778F1;
}
h6{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight:600;
line-height: normal;
font-size: 20px;
}
p{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 140%;
font-size: 18px;

}
body{
  width: 100%;
  align-items: center;
  background-image:url(../images/background2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/*------ NAV -------*/
.nav{
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100px;
  color: #000000;
}
.logo, .links {
  flex: 1;
}
.logo > a {
  padding: 0;
}
.links a {
  padding-left: 40px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: 000000;
}
.bio > p > a {
  padding: 0;
}

/*------ LANDING -------*/


#main{
  align-items: center;
}

.landing{
  height: 600px;
  position: relative;
  justify-content: space-between;
}

.landingWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}



/*------ BIO -------*/

.aboutmeWrapper{
  align-items:baseline;
  display:flex;
  justify-content: space-around;
}


.bio {
  float: left;
  text-align: left;
  padding-left: 0px;
  margin-right: 150px;
}

.resume{
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

.resume, h3{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
}

.expereince1{
  width: 417px;
}

.expereince1, h5{
  margin-top: 10px;
}

.expereince1, h6{
  margin-top: -30px;
}

.expereince1, p{
  margin-top: -10px;
}

.expereince2{
  padding-top: 10px;
}

.expereince3{
  padding-top: 10px;
}




/*------ Contact Me * Footer -------*/
.contact {

width: 100%;
height: 280px;
background: #E3D2E1;
text-align: center;
}



#socialTags, a{
  display: inline-flex;
  justify-content: space-between;
  padding-left: 30px;
  align-content: center;
}

#footer {
position: -webkit-sticky;
position: sticky;
width:100%;
background: #CDBDCB;
}

#footer > p{
  background: #CDBDCB;
  margin: 0px;
  text-align: left;
  height: 65px;
  font-size: 14px;
}
