/*------ GLOBAL -------*/
* {
  z-index: 1;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

.clearfix::after{
  content:"";
  clear: both;
  display: table;
}
html, body{
  height: 100%;
  font-weight: 100;
}
.container{
  min-height: 100%;
  max-width: 1440px;
  width: 95vw;
  margin: auto;
}
#main{
  overflow: auto;

}
#footer{
  position: relative;
  height: 65px;
  clear: both;
}
h1{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
}
h2{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 48px;
}
h3{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: lighter;
line-height: normal;
font-size: 36px;
}
h4{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
}
p{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 140%;
font-size: 18px;

}
body{
  width: 100%;
  align-items: center;
  background-image:url(../images/background2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/*------ NAV -------*/
.nav{
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100px;
  color: 000000;
}
.logo, .links {
  flex: 1;
}
.logo > a {
  padding: 0;
}
.links a {
  padding-left: 40px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
}
/*------ Content -------*/

.content{
  height: 799px;
  width: 100%;
  background-color: #E3D2E1;
  margin-top: 40px;
  align-items: center;

}

.content > h1{
  padding-top: 50px;
  text-align: center;
}

.content > p{
  width: 482px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form{
  padding-right: 400px;
  align-items: center;
  left: 30%;
  display: block;
}

.submition-form{
  max-width: 100px;
  margin: 2rem auto;
  display: block;
}


input, textarea{
  width: 500px;
  margin-bottom: 1rem;
  height: 45px;
  padding: .3rem 0 0 10px;
  border-radius: 10px;
}

textarea{
  height: 200px;
}

#subBtn{
  text-align: center;
  align-items: center;
  background-color: #2778F1;
  color: white;
  height: 42.6px;
  margin-top: 1rem;
  font-size: 24px;

}

#socialTags, a{

  display: inline-flex;
  justify-content: space-between;
  margin-left: 30px;

}


/*------ Contact Me * Footer -------*/


#footer {
position: -webkit-sticky;
position: sticky;
height: 65px;
width:100%;
background: #CDBDCB;
}

#footer > p{
 text-align: center;
 margin: -1rem;
 font-size: 14px;
}
