/*------ GLOBAL -------*/
* {
  z-index: 1;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

.clearfix::after{
  content:"";
  clear: both;
  display: table;
}
html, body{
  height: 100%;
  font-weight: 100;
}
.container{
  min-height: 100%;
  max-width: 1440px;
  width: 95vw;
  margin: auto;
}

#main{
  overflow: hidden;
  padding-bottom: 180px;

}
#footer{
  position: relative;
  height: 65px;
  clear: both;
}
h1{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
}
h2{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 48px;
}
h3{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: lighter;
line-height: normal;
font-size: 36px;
}
h4{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
}
p{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 140%;
font-size: 18px;

}
body{
  width: 100%;
  align-items: center;
  background-image:url(../images/BGlandingpage.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

/*------ NAV -------*/
.nav{
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100px;
  color: #000000;
}
.logo, .links {
  flex: 1;
}
.logo > a {
  padding: 0;
}
.links a {
  padding-left: 40px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: 000000;
}
.bio > p > a {
  padding: 0;
}

/*------ LANDING -------*/
#main{
  align-items: center;
}

.landing{
  height: 600px;
  position: relative;
  justify-content: space-between;
  align-self: stretch;

}

.landingWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

ul{
  list-style: none;
}
.landingL, h1{
  margin-bottom: -10px;
}
.landingL, h3{
  margin-bottom: 30px;
}
.landingR{
  margin-right: 20px;
}
.text, p{
  margin-bottom: 20px;
}


/*------ Case Studies -------*/

.title h2{
  text-align: center;
}

.casestudys h4{
  color:#ffffff;
  padding-top: 100px;
}


.casestudys > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.casestudys > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#blocBox{
  align-items: flex-start;
}

#fanFare{
  align-items: flex-start;
  text-align: left;
}

#goodLuxe{
  align-items: flex-start;
  text-align: left;
}

.casestudys > ul > li > p {
  position: absolute;
}
.caseImg {
  position: absolute;
  z-index: 0;
}

.caseText, h4{
  padding-top: 20px;
  width: 328px;
  color: #ffffff;
  padding-left: 30px;
}

.caseText p{
  font-size: 16px;
}

.learnMore{
  width: 100%;
  margin-top: 150px;
}

.learnMore > a{
  display: flex;
  justify-content: center;
  align-content: center;
}

/*------ Contact Me * Footer -------*/
.contact {
width: 100%;
height: 280px;
top: 1829px;
background: #E3D2E1;
text-align: center;
}

.contact, h2{
padding-top: 2px;
}


.socialMedia > ul {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 500px 0 500px;
}


#footer {
position: -webkit-sticky;

height: 65px;
width:100%;
background: #CDBDCB;


}

#footer > p{
  background: #CDBDCB;
  margin: 0px;
  text-align: left;
  height: 65px;
  font-size: 14px;

}
