/*------ GLOBAL -------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix::after{
  content:"";
  clear: both;
  display: table;
}
html, body{
  height: 100%;
  font-weight: 100;
}
#container{
  min-height: 100%;
}
#main{
  overflow: auto;
  padding-bottom: 280px;
}
#footer{
  position: relative;
  height: 65px;
  clear: both;
}
h1{
font-family: 'Cormorant Garamond', serif;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 64px;
}
h2{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 48px;
}
h3{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: lighter;
line-height: normal;
font-size: 36px;
}
h4{
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;
}
p{
font-family:'Muli', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 140%;
font-size: 18px;

}
body{
  width: 80%;
  align-items: center;
  margin: auto;
  background-image:url(../images/BGlandingpage.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

/*------ NAV -------*/
.nav{
  display: flex;
  align-items: center;
  height: 100px;
}
.logo, .links {
  flex: 1;
}

.links a {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: 000000;
  margin-left: 40px;
}
.logo{
  margin-right: 10px;
}

/*------ LANDING -------*/
.landing{
  height: 600px;
  position: relative;
  justify-content: space-between;
}
.landingWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  display:
}
ul{
  list-style: none;
}
.landingL, h1{
  margin-bottom: 10px;
}
.landingL, h3{
  margin-bottom: 30px;
}
.text, p{
  margin-bottom: 20px;
}


/*------ Case Studies -------*/

.title, h2{
  text-align: center;
}

.casestudys{
  margin-bottom: 100px;
}

.casestudys, ul{
  display: flex;
}


/*------ Contact Me -------*/
.contact {
position: absolute;
width: 100%;
height: 342px;
top: 1504px;
background: #E3D2E1;
margin-top: 100px;
text-align: center;
}

#footer {
position: -webkit-sticky;
position: sticky;
height: 65px;

background: #CDBDCB;
}



.socialMedia{
  margin:;

}
